/* th:contains("Actions") {
    width: 150px !important;
    min-width: 150px !important;
    text-align: center;
} */

.MuiTableCell-root:nth-child(-1) {
    width: 70px !important;
    min-width: 70px !important;
    text-align: center;
}